php_value session.gc_probability 1
php_value session.gc_divisor 100

# Environment variable (development | production)
# If not set, default is development
#SetEnv CI_ENV production

<IfModule rewrite_module>

RewriteEngine on

#RewriteBase /expenses/
RewriteBase /
 
# Store the current location in an environment variable CWD and use it where needed
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^.*$ - [E=CWD:%2]

# Hide the application and system directories by redirecting the request to index.php
RewriteRule ^(application|system|\.svn) %{ENV:CWD}index.php/$1 [L]

# Remove index.php from application URLs
RewriteCond $1 !^(index\.php|assets)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ %{ENV:CWD}index.php/$1 [L]

</IfModule>
